<!DOCTYPE html>
<html>
<head>
    <title>Calculadora</title>
</head>
    <body>
        <form action="https://localhost:5555/index/" method="post">
        <div class="form-group">
            <label for="n1">Valor A</label>
            <input type="number" class="form-control" id="n1" >
            <label for="n2">Valor B</label>
            <input type="number" class="form-control" id="n2">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </body>
</html>